<nav class="navbar">
  <mat-icon color="accent"> bubble_chart</mat-icon>
  <h4 style="position: absolute;left:100px;margin-top: 20px;color: #868181;">Shilhaandra Frontdesk</h4>
  <mat-divider class="right_vertical_nav" ></mat-divider> 
  <div class="nav_div"> 
    <button class="booking" mat-flat-button color="primary">New Booking<mat-icon>add</mat-icon></button>
    <button class="bell_icon" mat-fab color="info" ><mat-icon>notifications</mat-icon></button>
  </div>
</nav>
<mat-divider style="height:1px"></mat-divider>   
<mat-divider class="right_vertical" ></mat-divider>
<div class="container-fluid" style="position: absolute;" >
  <div class="main_tab">
    <li >Anand R <mat-icon style="font-size: 20px;position: absolute;right: 3px;margin: 8px;">close</mat-icon></li>
  </div>
  <div class="tab_box">
    <div class="tab_inner_box">
      <div class="row row_main">
        <div class="col-lg-3">
          <div class="info" >
            <mat-icon style="color: gold;position: absolute;left:30px;top:20px;font-size: 18px;">grade</mat-icon>
            <mat-icon style="color: rgb(104, 182, 15);position: absolute;right: 30px;top:20px;font-size: 18px;">check_circle</mat-icon>
            <div style="text-align: center;">
              <img class="profile_image" src="../assets/image1.jpg" alt="">
            <div class="paragraph_div first_col">
              <p><b>Anand R</b></p>
              <p>anand.dx001@gmail.com</p>
              <p>866 088 6780</p>
              <p>Northern Trust</p>
            </div>
            </div>
          </div>
            <div class="Check_in_out first_col">
              <table>
                <tr>
                <th>check-in</th>
                <th>check-out</th>
               </tr>
               <tr>
                <td>11:30 AM</td>
                <td>11:30 AM</td>
               </tr>
              </table>
            </div>
            <div class="cost first_col">
              <table>
                <tr>
                <th>Final Cost</th>
                <th>Balance Due</th>
               </tr>
               <tr>
                <td>&#8377; 7700</td>
                <td>&#8377; 7700</td>
               </tr>
              </table>
            </div>
            <div class="rest first_col">
              <table>
                <tr class="rest_Table">
                <th>Day-Outing</th>
                <td>0 Adult 0 kids</td>
               </tr>
               <tr class="rest_Table" >
                <th>Stay</th>
                <td>0 Adult 0 Kids <br>0 Rooms</td>
               </tr>
               <tr class="rest_Table">
                <th> Orders/Coupons</th>
                <td> 9</td>
               </tr>
               <tr class="rest_Table">
                <th> Event Venue</th>
                <td> 2</td>
               </tr>
              </table>
            </div>
        </div>
        <div class="col-lg-9">
          <div class="row col-9-table-main">
            <div class="col-lg-2">
              <p class="booking_para">BookingID: HSFXL89</p>
            </div>
            <div class="col-lg-2">
              <p class="booking_para">Source: Tripaxy</p>
            </div>
            <div class="col-lg-8">
              <div class="button_div">
                <button mat-raised-button>Make Payment</button>
                <button mat-raised-button color="primary">Add Order</button>
                <button mat-stroked-button color="primary">Checked-in <mat-icon>expand_more</mat-icon></button>
                </div> 
            </div>
          </div>
          <mat-tab-group>
            <div class="box" style="position: fixed;">
              <mat-tab label="Orders & Reservations" >
                <div class="discription_table_box" style="position: static;">
                  <div class="row disrow" >
                    <div class="col-lg-6">
                        <p class="para" style="margin-left: 50px;"> Discription</p>
                    </div>
                    <div class="col-lg-2">
                        <p class="para" style="position: absolute;right: 0;">Quantity</p>
                    </div>
                    <div class="col-lg-2">
                         <p class="para" style="position: absolute;right:0;">Total</p>
                    </div>
                    <div class="col-lg-2">
                    </div>
                  </div>
                  <div class="row disrow1" >
                    <div class="col-lg-6">
                        <p class="para" style="margin-left: 40px;"><mat-icon style="color:#6d6c6c;font-size:20px;">home</mat-icon> Deluxe Suit
                        <span><p class="dis_para">22 sept - 23 sept  .7rooms 3extra bed</p></span>
                        </p>
                    </div>
                    <div class="col-lg-2">
                        <p class="para" style="position: absolute;right: 0;">1</p>
                    </div>
                    <div class="col-lg-2">
                         <p class="para" style="position: absolute;right:0;">&#8377; 520.00</p>
                    </div>
                    <div class="col-lg-2">
                      <p class="delete_Edit"><mat-icon class="delete_edit">edit</mat-icon><mat-icon class="delete_icon">delete</mat-icon></p>
                    </div>
                  </div>
                  <div class="row disrow1" style="background-color: #f7fafa;" >
                    <div class="col-lg-6">
                        <p class="para" style="margin-left: 40px;"><mat-icon style="color: #6d6c6c;font-size:20px;">view_quilt</mat-icon> Adventure Game Coupon</p>
                    </div>
                    <div class="col-lg-2">
                        <p class="para" style="position: absolute;right: 0;">22</p>
                    </div>
                    <div class="col-lg-2">
                         <p class="para" style="position: absolute;right:0;">&#8377; 520.00</p>
                    </div>
                    <div class="col-lg-2">
                      <p class="delete_Edit"><mat-icon class="delete_edit">edit</mat-icon><mat-icon class="delete_icon">delete</mat-icon></p>
                    </div>
                  </div>
                  <div class="row disrow1" >
                    <div class="col-lg-6">
                        <p class="para" style="margin-left: 40px;"><mat-icon style="color: #6d6c6c;font-size:20px;">filter_hdr</mat-icon> Golden Mango Package</p>
                    </div>
                    <div class="col-lg-2">
                        <p class="para" style="position: absolute;right: 0;">12</p>
                    </div>
                    <div class="col-lg-2">
                         <p class="para" style="position: absolute;right:0;">&#8377; 520.00</p>
                    </div>
                    <div class="col-lg-2">
                      <p class="delete_Edit"><mat-icon class="delete_edit">edit</mat-icon><mat-icon class="delete_icon">delete</mat-icon></p>
                    </div>
                  </div>
                </div>
             </mat-tab>
             <mat-tab label="Customer Info">
                Customer Info
             </mat-tab>
             <mat-tab label="Group">
                Group 
             </mat-tab>
            </div>
          </mat-tab-group>
        </div>
      </div>
        
    </div>
    

  </div>
 
</div>

