<nav class="navbar">
  <mat-icon color="accent"> bubble_chart</mat-icon>
  <h4 style="position: absolute;left:100px;margin-top: 20px;color: #868181;">Shilhaandra Frontdesk</h4>
  <mat-divider class="right_vertical_nav"></mat-divider>
  <div class="nav_div">
    <button class="booking" mat-flat-button color="primary">New Booking<mat-icon>add</mat-icon></button>
    <button class="bell_icon" mat-fab color="info">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
</nav>
<mat-divider style="height:1px"></mat-divider>
<mat-divider class="right_vertical"></mat-divider>
<div class="container-fluid" style="position: absolute;">
  <router-outlet></router-outlet>
</div>
